<p id="notice"><%= notice %></p>

<div class="wrap">

<div class="divLeft">
	<p>Posted by <b><%= @book.user.email%></b> <%= time_ago_in_words(@book.created_at) %> ago</p>
<div class="links">
<%= image_tag @book.image.url(:medium), :class => "show_img" %> <br>
<%= link_to 'Back', books_path %> |
<% if user_signed_in? %>
<% if @book.user_id == current_user.id %>
<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Destroy', @book, method: :delete, data: { confirm: 'Are you sure?' } %>
<%end%>
<%end%>
</div>
</div>



<div class="divRight">
<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Description:</strong>
  <%= @book.description %>
</p>
</div>




<div class="divComment">
<h3>Comments </h3>
<%= render @book.comments.order(created_at: :desc)%>


<h3>Reply: </h3>
<%= render 'comments/form' %>

</div>

</div>